* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "ThemaCy", "ThemaStd";
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  background-color: #f8f8f8;
}
.index {
  margin: 0 auto;
}
#index p {
  font-family: "Inter";
  font-size: 35px;
  line-height: 110%;
  /*margin: 0;
  padding: 0;*/
}
#index h1 {
  font-size: 180px;
  font-weight: 700;
  font-style: italic;
  color: #f4719d;
  -webkit-text-stroke: 5px black;
  position: absolute;
  top: 111px;
  left: 461px;
  /*margin: 0;
  padding: 0;*/
}
#index h2 {
  font-size: 85px;
  font-family: "ThemaStd";
  /*margin: 0;
  padding: 0;*/
}
#index h3 {
  font-size: 65px;
  /*margin: 0;
  padding: 0;*/
}
#index h4 {
  font-size: 40px;
  color: #ffffff;
  font-family: "ThemaStd";
  /*margin: 0;
  padding: 0;*/
}
/*секции*/
.FirstSection {
  background: url(../images/firstpage.png);
  background-size: cover;
  width: 1440px;
  height: 900px;
  display: flex;
  position: relative;
  margin: 0 auto;
}
.SecondSection {
  background: url(../images/secondpage.png);
  background-size: cover;
  width: 1440px;
  height: 900px;
  display: flex;
  margin: 0 auto;
}
.ThirdSection {
  background: url(../images/thirdpage.png);
  background-size: cover;
  width: 1440px;
  height: 900px;
  display: flex;
  margin: 0 auto;
}
.FourthSection {
  background: url(../images/fourthpage.png);
  background-size: cover;
  width: 1440px;
  height: 900px;
  display: flex;
  margin: 0 auto;
}
.FifthSection {
  background: url(../images/fifthpage.png);
  background-size: cover;
  width: 1440px;
  height: 900px;
  display: flex;
  margin: 0 auto;
}
.SixthSection {
  background: url(../images/sixthpage.png);
  background-size: cover;
  width: 1440px;
  height: 900px;
  display: flex;
  margin: 0 auto;
}
.SeventhSection {
  background: url(../images/seventhpage.png);
  background-size: cover;
  width: 1440px;
  height: 900px;
  display: flex;
  margin: 0 auto;
}
.EighthSection {
  background: url(../images/eighthpage.png);
  background-size: cover;
  width: 1440px;
  height: 900px;
  display: flex;
  margin: 0 auto;
}
.NinthSection {
  background: url(../images/ninthpage.png);
  background-size: cover;
  width: 1440px;
  height: 900px;
  display: flex;
  margin: 0 auto;
}
.footer {
  background: url(../images/footer.png);
  background-size: cover;
  width: 1440px;
  height: 473px;
  display: flex;
  margin: 0 auto;
}
.page-title {
  position: absolute;
  top: 725px;
  left: 650px;
}
.font-title {
  position: absolute;
  top: 250px;
  left: 188px;
  font-weight: 700;
  font-style: italic;
  -webkit-text-stroke: 3px black;
  color: #fec7e4;
  -webkit-text-stroke: 3px rgb(255, 255, 255);
}
.header-facts,
.header-numbers,
.authors {
  color: #fec7e4;
  -webkit-text-stroke: 3px black;
}
.authors {
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 385px;
  margin-left: 200px;
}
.header-facts {
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 99px;
  margin-left: 191px;
}
.header-numbers {
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 99px;
  margin-left: 914px;
}
.header-year,
.header-langs,
.langs_15,
.langs_275,
.header_glyphs {
  color: #ffffff;
  -webkit-text-stroke: 3px black;
}
.header-year {
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 237px;
  margin-left: 250px;
}
.header-langs {
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 136px;
  margin-left: 866px;
}
.langs_15 {
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 261px;
  margin-left: 923px;
}
.langs_275 {
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 502px;
  margin-left: 892px;
}
.header_glyphs {
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 114px;
  margin-left: 904px;
}
.name_nikola,
.name_iliya {
  text-wrap: nowrap;
  color: #008ab1;
}
.name_nikola {
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 484px;
  margin-left: 207px;
}
.name_iliya {
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 532px;
  margin-left: 207px;
}
.header-support,
.glyphs_1500,
.glyphs_sistem {
  color: #ffffff;
}
.header-support {
  width: 621px;
  height: 118px;
  text-align: center;
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 330px;
  margin-left: 735px;
}
.glyphs_1500 {
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 220px;
  margin-left: 989px;
}
.glyphs_sistem {
  width: 634px;
  height: 117px;
  text-align: center;
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 415px;
  margin-left: 754px;
}
.year {
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 331px;
  margin-left: 224px;
}
.cyrillic {
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 375px;
  margin-left: 917px;
}
.latin {
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 610px;
  margin-left: 912px;
}
.capitals {
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 170px;
  margin-left: 284px;
}
.drops {
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 525px;
  margin-left: 329px;
}
.serifs {
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 689px;
  margin-left: 864px;
}
.support_text {
  width: 622.47px;
  height: 156px;
  text-align: left;
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 110px;
  margin-left: 125px;
}
.text-light {
  font-weight: 300;
  font-style: normal;
  transform: rotate(-13.95deg);
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 155px;
  margin-left: 335px;
}
.text-regular {
  font-weight: 400;
  font-style: normal;
  transform: rotate(-12.64deg);
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 220px;
  margin-left: 338px;
}
.text-medium {
  font-weight: 500;
  font-style: normal;
  transform: rotate(-12.68deg);
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 295px;
  margin-left: 350px;
}
.text-bold {
  font-weight: 700;
  font-style: normal;
  transform: rotate(-15.26deg);
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 370px;
  margin-left: 407px;
}
.text-light_it {
  font-weight: 300;
  font-style: italic;
  transform: rotate(-12.45deg);
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 107px;
  margin-left: 504px;
}
.text-regular_it {
  font-weight: 400;
  font-style: italic;
  transform: rotate(-12.64deg);
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 170px;
  margin-left: 509px;
}
.text-medium_it {
  font-weight: 500;
  font-style: italic;
  transform: rotate(-14.27deg);
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 235px;
  margin-left: 539px;
}
.text-bold_it {
  font-weight: 700;
  font-style: italic;
  transform: rotate(-14.96deg);
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 320px;
  margin-left: 551px;
}
.numbers_1 {
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 253px;
  margin-left: 832px;
}
.numbers_2 {
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 380px;
  margin-left: 894px;
}
.numbers_3 {
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 515px;
  margin-left: 775px;
}
.numbers_4 {
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 645px;
  margin-left: 907px;
}
.footer_name_darina {
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 91px;
  margin-left: 701px;
}
.footer_name_kamila {
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 250px;
  margin-left: 789px;
}
.group {
  color: #f882aa;
  position: absolute;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 258px;
  margin-left: 168px;
}
